.headerTop {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.topNav {
    background: #fff;
    width: 100%;
    position: relative;
    a {
        color: #000;
        &:link {
            color: #000;
        }
        &:visited {
            color: #000;
        }
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        margin: 0;
        display: flex;
        height: 50px;
        width: 85%;
        justify-content: space-evenly;
        -webkit-box-align: center;
        align-items: center;
        padding: 0;
        .level0 {
            display: flex;
            flex: 1 1 auto;
            -webkit-box-flex: 1;
            list-style: none;
            text-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            font-size: 12px;
            height: 100%;
            font-weight: bold;
            margin: 0;
            .submenu-cat {
                background-color: #fff;
                padding: 3.5% 7% 0 8%;
                display: none;
                height: 160px;
                text-align: left;
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
                z-index: 100;
                li {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 16px;
                    min-width: 0;
                    width: 25%;
                    span {
                        color: #666666;
                    }
                    &:before {
                        position: relative;
                        top: 2px;
                        right: 5px;
                        color: rgba(202, 94, 40, 0);
                        font-size: 17px;
                        content: '⚫';
                    }
                    &:hover {
                        span {
                            color: rgba(202, 94, 40, 1);
                        }
                        &:before {
                            color: rgba(202, 94, 40, 1);
                        }
                    }
                }
            }
        }
        .level0:hover {
            ul {
                display: inline-block;
            }
        }
        .brook-logo {
            margin-top: 8px;
            max-height: 70px;
            max-width: 193px;
        }
    }
    span {
        text-transform: uppercase;
        line-height: 50px;
        vertical-align: middle;
        padding: 0;
    }
    .icons {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        width: 16%;
        z-index: 100;
        line-height: 50px;
        .icon {
            display: inline-block;
            vertical-align: middle;
            padding: 0 17px;
            .icon-account {
                background-image: url('../images/account-icon.svg');
                background-size: 30px;
                width: 30px;
                height: 30px;
            }
            .icon-search {
                background-image: url('../images/search.svg');
                background-size: 30px;
                width: 30px;
                height: 30px;
            }
            .icon-bag {
                background-image: url('../images/shopping-bag.svg');
                background-size: 30px;
                width: 30px;
                height: 30px;
            }
        }
    }
}