<?php
/**
 * Custom top menu for store
 *
 * @var $block \Scandi\Edu1359\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'navCategory', $columnsLimit) ?>

<div class="headerTop">
    <nav class="topNav">
        <ul>
            <?= $_menu ?>
        </ul>
        <div class="icons">
            <div class="icon">
                <a href="#"><div class="icon-account"></div></a>
            </div>
            <div class="icon">
                <a href="#"><div class="icon-search"></div></a>
            </div>
            <div class="icon">
                <a href="#"><div class="icon-bag"></div></a>
            </div>
        </div>
    </nav>
</div>
